@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
::-webkit-scrollbar{
    width: 5px;
  
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#61045F,#FF512F);
   
}





.section-01{
    width: 100%;
    height: 100vh;
    background: linear-gradient(130deg, #30336b,#130f40);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1-main-box{
    width: 80%;
    height: 500px;
    background: linear-gradient(#e67e22,#c0392b);
    border-radius: 20px;
    backdrop-filter: blur(3px);
   
    
    
}
.title-00{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 15px 0px 20px 0px;
}
.section-1-main-box::before{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 20px;
    box-shadow: 10px 20px 40px #2ecc71,-10px 20px 80px #2ecc71,10px -20px 120px #2ecc71,-10px -20px 120px #2ecc71;
    left: 20px;
    background: #c0392b;
    animation: ball1 3s linear infinite;
}

@keyframes ball1{
    0%{
        width: 1px;
        height: 1px;
    }
    50%{
       
        transform: scale(90);
        background-color: red;
        box-shadow: 10px 20px 40px #2ecc71,-10px 20px 80px #2ecc71,10px -20px 120px #2ecc71,-10px -20px 120px #2ecc71;
    }
    100%{
        width: 1px;
        height: 1px;
        background: rgb(0, 255, 157);
        box-shadow: 10px 20px 40px #2ecc71,-10px 20px 80px #2ecc71,10px -20px 120px #2ecc71,-10px -20px 120px #2ecc71;
    }

}

.oparetion-div{
    width: 70%;
    height: 80px;
    background-color: #130f40;
    outline: none;
    border-radius: 20px;
    margin: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oparetion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.number1, .number2, .result{
    width: 140px;
    height: 43px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #e67e22;
    color: white;
    overflow: auto;
    font-size: 25px;
    padding: 0 3px;
}

i{
    color: white;
    font-size: 30px;
    padding: 0px 15px;
}

.button{
    color: white;
    background: #1abc9c;
    font-size: 22px;
    padding: 8px 15px;
    margin: 0 13px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 100ms;

}
.button:hover{
    background: #2ecc71;
    box-shadow: 10px 20px 40px #2ecc71,-10px 20px 80px #2ecc71,10px -20px 120px #2ecc71,-10px -20px 120px #2ecc71;
    transform: scale(1.05);
}

.reset-btn{
    margin-top: 20px;
}
.reset-btn a{
    text-decoration: none;
    color: white;
    background: #1abc9c;
    font-size: 22px;
    padding: 8px 25px;
    margin: 0 13px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 100ms;
    letter-spacing: 2px;
    border: none;
    outline: none;


}
.reset-btn :hover{
    background: #2ecc71;
    box-shadow: 10px 20px 40px #2ecc71,-10px 20px 80px #2ecc71,10px -20px 120px #2ecc71,-10px -20px 120px #2ecc71;
    transform: scale(1.1);
}
/* first section completed */
/* second section start */
.section-02{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#AA076B,#61045F);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box-section-02{
    width: 80%;
    height: 500px;
    /* border: 1px solid red; */
    border-radius: 16px;
    background: linear-gradient(#DD2476,#FF512F);
    position: relative;
}
.dot-box{
    display: flex;
    position: absolute;
    top: 0;
    left: 20px;

}

.dot{
    width: 10px ;
    height: 10px;
    border-radius: 50%;
    background: #130f40;
    margin:10px 5px;

}

@keyframes dot-line {
    0%{
       
        background-color: red;
    }
    50%{
       
        background-color: #130f40;
    }
    100%{
        
        background-color: red;
    }
    
}

.dot1{
        animation: dot-line;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;

}

.dot2{
    animation: dot-line;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

}

.dot3{
    animation: dot-line;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;

}

.dot4{
    animation: dot-line;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;

}

.dot5{
    animation: dot-line;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;

}

.dot6{
    animation: dot-line;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2.5s;

}

.dot7{
    animation: dot-line;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;

}

.dot8{
    animation: dot-line;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3.5s;

}

.dot9{
    animation: dot-line;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 4s;

}

.dot10{
    animation: dot-line;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 5s;

}
.dot-box-1{
    display: flex;
    position: absolute;
    top: 150px;
    left: 20px;
    
}



.clock-box{
    width: 80%;
    height: 220px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -50px;
    border-radius: 17px;
    background: linear-gradient(#61045F,#DD2476);
}

.clock-heading{
    color: #e67e22;
    font-size: 38px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: -60px;
    text-transform: capitalize;
    font-weight: bold;
}
.clock span{
    
    font-size: 90px;
    letter-spacing: 4px;
    font-weight: bold;

}

#MyClockDisplay{
    color: #FF512F;
    font-family: 'Orbitron', sans-serif;
}




@media only screen and (max-width: 600px) {
    .clock-heading {
        color: #e67e22;
        font-size: 29px;
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        margin-top: -257px;
        text-transform: capitalize;
        font-weight: bold;
    }

    i{
        font-size: 11px;
    }
    
.number1, .number2, .result {
    width: 80px;
    height: 25px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #e67e22;
    color: white;
    overflow: auto;
    font-size: 20px;
    padding: 0 3px;
}

.oparetion-icon{
    margin-left: 20px;
}


    .clock span {
        font-size: 31px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .button {
        color: white;
        background: #1abc9c;
        font-size: 22px;
        padding: 8px 11px;
        margin: 0 7px;
        border-radius: 10px;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
        transition: all 100ms;
    }


}



/* scetion 3 er css code  */
.section-03 {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.scetion-3-body{
    color: white;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    
}
.timer-body{
    width: 90%;
    height: 180px;
    /* border: 1px solid red; */
    display: flex;
    margin: -78px auto 0px auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 20px;
    box-shadow: 2px 2px 24px #30336b,-2px 2px 14px #AA076B,-2px -2px 14px #130f40,2px -2px 14px #c0392b;
    font-size: 2.8em;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    


}